<html>
    <head>
        <title>단어</title>
          <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="row" align="center">
            <div class="col-md-12">
                <h1>ABOUT</h1>

                <p>운영진 스터디 종로팀</p>
                
                <a href="{% url 'home' %}">HOME</a>
            </div>
        </div>
    </body>
</html>
